openapi: 3.0.3
info:
  title: Darty supported DART wire subset
  version: 1.0.0
  description: >-
    Canonical HTTP authority for the seven upstream calls used by the six
    source-backed Darty capabilities; the two static capabilities make no calls.
    HTML structure, decoding, and viewer replay rules are owned by
    dart-html-viewer-v1.md.
  x-darty-authority-version: dart-wire-v1
  x-darty-provenance: observed-and-project-bounded
servers:
  - url: https://dart.fss.or.kr
    description: DART website origin; this is not the OpenDART API.
tags:
  - name: company-search
  - name: filing-search
  - name: report-viewer
paths:
  /dsab007/search.ax:
    post:
      operationId: searchBodyFragment
      tags: [filing-search]
      summary: Search filing body contents with fixed upstream-controlled paging
      parameters:
        - $ref: '#/components/parameters/UserAgent'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            x-darty-content-type: application/x-www-form-urlencoded; charset=UTF-8
            schema:
              $ref: '#/components/schemas/BodySearchForm'
      responses:
        '200':
          $ref: '#/components/responses/HtmlFragment'
        default:
          $ref: '#/components/responses/UnexpectedSourceResponse'
  /dsae001/select.ax:
    get:
      operationId: fetchCompanyDetail
      tags: [company-search]
      summary: Retrieve one company overview table
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/CompanySearchReferer'
        - name: selectKey
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/CompanyCode'
      responses:
        '200':
          $ref: '#/components/responses/HtmlFragment'
        default:
          $ref: '#/components/responses/UnexpectedSourceResponse'
  /api/companyRSS.xml:
    get:
      operationId: fetchCompanyRss
      tags: [company-search]
      summary: Retrieve one company disclosure RSS channel
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - name: crpCd
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/CompanyCode'
      responses:
        '200':
          description: RSS XML; supported media types share the same channel grammar.
          content:
            application/xml:
              schema: { type: string }
            text/xml:
              schema: { type: string }
            application/rss+xml:
              schema: { type: string }
        default:
          $ref: '#/components/responses/UnexpectedSourceResponse'
  /dsae001/search.ax:
    post:
      operationId: searchCompanyFragment
      tags: [company-search]
      summary: Search company-overview rows by company name
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/CompanySearchReferer'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            x-darty-content-type: application/x-www-form-urlencoded; charset=UTF-8
            schema:
              $ref: '#/components/schemas/CompanySearchForm'
            encoding:
              corpType:
                style: form
                explode: true
      responses:
        '200':
          $ref: '#/components/responses/HtmlFragment'
        default:
          $ref: '#/components/responses/UnexpectedSourceResponse'
  /dsab007/detailSearch.ax:
    post:
      operationId: searchCompanyReportsFragment
      tags: [filing-search]
      summary: Search filing rows for one resolved DART company code
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/CompanyReportsReferer'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            x-darty-content-type: application/x-www-form-urlencoded; charset=UTF-8
            schema:
              $ref: '#/components/schemas/CompanyReportsSearchForm'
            encoding:
              publicType:
                style: form
                explode: true
      responses:
        '200':
          $ref: '#/components/responses/HtmlFragment'
        default:
          $ref: '#/components/responses/UnexpectedSourceResponse'
  /dsaf001/main.do:
    get:
      operationId: fetchReportShell
      tags: [report-viewer]
      summary: Resolve the selected report document and viewer table of contents
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/ReceiptNumber'
        - $ref: '#/components/parameters/OptionalDocumentNumber'
      responses:
        '200':
          $ref: '#/components/responses/HtmlDocument'
        default:
          $ref: '#/components/responses/UnexpectedSourceResponse'
  /report/viewer.do:
    get:
      operationId: fetchReportContent
      tags: [report-viewer]
      summary: Fetch the report content selected by a shell-provided locator
      parameters:
        - $ref: '#/components/parameters/UserAgent'
        - $ref: '#/components/parameters/ReceiptNumber'
        - $ref: '#/components/parameters/DocumentNumber'
        - $ref: '#/components/parameters/ElementId'
        - $ref: '#/components/parameters/ViewerOffset'
        - $ref: '#/components/parameters/ViewerLength'
        - $ref: '#/components/parameters/ViewerDtd'
      responses:
        '200':
          $ref: '#/components/responses/HtmlDocument'
        default:
          $ref: '#/components/responses/UnexpectedSourceResponse'
components:
  parameters:
    UserAgent:
      name: User-Agent
      in: header
      required: true
      description: Non-empty client identification selected by Darty transport policy.
      schema:
        type: string
        minLength: 1
    CompanySearchReferer:
      name: Referer
      in: header
      required: true
      schema:
        type: string
        enum: [https://dart.fss.or.kr/dsae001/main.do]
    CompanyReportsReferer:
      name: Referer
      in: header
      required: true
      schema:
        type: string
        enum: ['https://dart.fss.or.kr/dsab007/main.do?option=corp']
    ReceiptNumber:
      name: rcpNo
      in: query
      required: true
      schema:
        $ref: '#/components/schemas/ReceiptNumber'
    OptionalDocumentNumber:
      name: dcmNo
      in: query
      required: false
      description: Present only when selecting a shell-listed attachment document.
      schema:
        $ref: '#/components/schemas/DocumentNumber'
    DocumentNumber:
      name: dcmNo
      in: query
      required: true
      schema:
        $ref: '#/components/schemas/DocumentNumber'
    ElementId:
      name: eleId
      in: query
      required: true
      schema:
        type: string
        pattern: '^\d+$'
    ViewerOffset:
      name: offset
      in: query
      required: true
      description: Opaque nonnegative locator copied from the report shell.
      schema:
        type: string
        pattern: '^\d+$'
    ViewerLength:
      name: length
      in: query
      required: true
      description: Opaque nonnegative locator copied from the report shell.
      schema:
        type: string
        pattern: '^\d+$'
    ViewerDtd:
      name: dtd
      in: query
      required: true
      schema:
        type: string
        minLength: 1
        pattern: '^[A-Za-z0-9._-]+$'
  responses:
    HtmlFragment:
      description: Successful DART HTML fragment; parse rules are in dart-html-viewer-v1.md.
      content:
        text/html:
          schema:
            type: string
    HtmlDocument:
      description: Successful DART HTML document; parse rules are in dart-html-viewer-v1.md.
      content:
        text/html:
          schema:
            type: string
    UnexpectedSourceResponse:
      description: Non-200 source response; Darty maps it to a sanitized source failure.
  schemas:
    ReceiptNumber:
      type: string
      pattern: '^\d{14}$'
    DocumentNumber:
      type: string
      pattern: '^\d+$'
    CompanyCode:
      type: string
      pattern: '^\d{8}$'
    EmptyString:
      type: string
      maxLength: 0
    CompanySearchForm:
      type: object
      additionalProperties: false
      required:
        - currentPage
        - maxResults
        - maxLinks
        - sort
        - series
        - gubun
        - selectKey
        - searchIndex
        - textCrpCik
        - autoSearch
        - businessCode
        - bsnRgsNo
        - corpTypeAll
        - autoSearchCorp
        - searchType
        - textCrpNm
        - bsnRgsNo_1
        - bsnRgsNo_2
        - bsnRgsNo_3
        - crpRgsNo
        - corpType
      properties:
        currentPage:
          type: integer
          minimum: 1
          maximum: 100
        maxResults:
          type: integer
          minimum: 1
          maximum: 45
        maxLinks:
          type: integer
          enum: [10]
        sort: { $ref: '#/components/schemas/EmptyString' }
        series: { $ref: '#/components/schemas/EmptyString' }
        gubun: { $ref: '#/components/schemas/EmptyString' }
        selectKey: { $ref: '#/components/schemas/EmptyString' }
        searchIndex: { $ref: '#/components/schemas/EmptyString' }
        textCrpCik: { $ref: '#/components/schemas/EmptyString' }
        autoSearch:
          type: string
          enum: ['true']
        businessCode:
          type: string
          enum: [all]
        bsnRgsNo: { $ref: '#/components/schemas/EmptyString' }
        corpTypeAll:
          type: string
          enum: [all]
        autoSearchCorp:
          type: string
          enum: [Y]
        searchType:
          type: string
          enum: ['1']
        textCrpNm:
          type: string
          minLength: 2
        bsnRgsNo_1: { $ref: '#/components/schemas/EmptyString' }
        bsnRgsNo_2: { $ref: '#/components/schemas/EmptyString' }
        bsnRgsNo_3: { $ref: '#/components/schemas/EmptyString' }
        crpRgsNo: { $ref: '#/components/schemas/EmptyString' }
        corpType:
          type: array
          minItems: 4
          maxItems: 4
          uniqueItems: true
          items:
            type: string
            enum: [P, A, X, E]
    CompanyReportsSearchForm:
      type: object
      additionalProperties: false
      description: >-
        Darty serializes maxLinks as 10, copies reportName to reportName2, and
        sends businessNm as "전체" exactly when businessCode is "all" (empty
        otherwise). These coupled values are part of the supported request.
      x-darty-equal-fields:
        - [reportName, reportName2]
      x-darty-conditional-fields:
        - when: { field: businessCode, equals: all }
          then: { field: businessNm, equals: 전체 }
          otherwise: { field: businessNm, equals: '' }
      required:
        - currentPage
        - maxResults
        - maxLinks
        - sort
        - series
        - option
        - textCrpNm
        - textCrpNm2
        - textCrpCik
        - textPresenterNm
        - reportName
        - reportName2
        - startDate
        - endDate
        - finalReport
        - businessCode
        - businessNm
        - corporationType
        - closingAccountsMonth
        - autoSearch
        - autoSearchCorp
      properties:
        currentPage:
          type: integer
          minimum: 1
          maximum: 100
        maxResults:
          type: integer
          enum: [15, 30, 50, 100]
        maxLinks:
          type: integer
          enum: [10]
        sort:
          type: string
          enum: [date]
        series:
          type: string
          enum: [asc, desc]
        option:
          type: string
          enum: [corp]
        textCrpNm: { $ref: '#/components/schemas/EmptyString' }
        textCrpNm2: { $ref: '#/components/schemas/EmptyString' }
        textCrpCik: { $ref: '#/components/schemas/CompanyCode' }
        textPresenterNm:
          type: string
        reportName:
          type: string
        reportName2:
          type: string
        publicType:
          type: array
          uniqueItems: true
          maxItems: 60
          items:
            type: string
            pattern: '^[A-J]\d{3}$'
        startDate:
          type: string
          pattern: '^\d{8}$'
        endDate:
          type: string
          pattern: '^\d{8}$'
        finalReport:
          type: string
          enum: ['', recent]
        businessCode:
          type: string
          pattern: '^(all|ROOT\d{4}|\d{2,5})$'
        businessNm:
          type: string
        corporationType:
          type: string
          enum: [all, P, A, N, E]
        closingAccountsMonth:
          type: string
          pattern: '^(all|0[1-9]|1[0-2])$'
        autoSearch:
          type: string
          enum: [N]
        autoSearchCorp:
          type: string
          enum: [Y]
    BodySearchForm:
      type: object
      additionalProperties: false
      description: >-
        Semantic date/reportName sort maps to DATE/rpt_nm. Both paging fields
        are fixed at 10; callers cannot control effective page size. Each b_
        mirror equals its corresponding field, including empty optional filters.
        No free-text company-name lookup is performed.
      x-darty-equal-fields:
        - [textCrpCik, b_textCrpCik]
        - [keyword, b_keyword]
        - [textPresenterNm, b_textPresenterNm]
        - [reportName, b_reportName]
        - [startDate, b_startDate]
        - [endDate, b_endDate]
      required:
        - currentPage
        - maxResults
        - maxLinks
        - sort
        - sortType
        - textCrpCik
        - lateKeyword
        - flrCik
        - dspTypeTab
        - isSort
        - isTab
        - tocSrch
        - b_textCrpCik
        - b_flrCik
        - b_keyword
        - b_docType
        - b_textPresenterNm
        - b_reportName
        - b_startDate
        - b_endDate
        - b_dspType
        - b_synonym
        - b_reSearch
        - reportNamePopYn
        - autoSearch
        - option
        - keyword
        - textCrpNm
        - textPresenterNm
        - startDate
        - endDate
        - decadeType
        - docType
        - reportName
      properties:
        currentPage: { type: integer, minimum: 1, maximum: 100 }
        maxResults: { type: integer, enum: [10] }
        maxLinks: { type: integer, enum: [10] }
        sort: { type: string, enum: [DATE, rpt_nm] }
        sortType: { type: string, enum: [asc, desc] }
        textCrpCik: { type: string, pattern: '^(|\d{8})$' }
        lateKeyword: { $ref: '#/components/schemas/EmptyString' }
        flrCik: { $ref: '#/components/schemas/EmptyString' }
        dspTypeTab: { $ref: '#/components/schemas/EmptyString' }
        isSort: { type: string, enum: ['false'] }
        isTab: { type: string, enum: ['false'] }
        tocSrch: { $ref: '#/components/schemas/EmptyString' }
        b_textCrpCik: { type: string, pattern: '^(|\d{8})$' }
        b_flrCik: { $ref: '#/components/schemas/EmptyString' }
        b_keyword: { type: string, minLength: 1 }
        b_docType: { $ref: '#/components/schemas/EmptyString' }
        b_textPresenterNm: { type: string }
        b_reportName: { type: string }
        b_startDate: { type: string, pattern: '^\d{8}$' }
        b_endDate: { type: string, pattern: '^\d{8}$' }
        b_dspType: { $ref: '#/components/schemas/EmptyString' }
        b_synonym: { $ref: '#/components/schemas/EmptyString' }
        b_reSearch: { $ref: '#/components/schemas/EmptyString' }
        reportNamePopYn: { $ref: '#/components/schemas/EmptyString' }
        autoSearch: { type: string, enum: [N] }
        option: { type: string, enum: [contents] }
        keyword: { type: string, minLength: 1 }
        textCrpNm: { $ref: '#/components/schemas/EmptyString' }
        textPresenterNm: { type: string }
        startDate: { type: string, pattern: '^\d{8}$' }
        endDate: { type: string, pattern: '^\d{8}$' }
        decadeType: { $ref: '#/components/schemas/EmptyString' }
        docType: { $ref: '#/components/schemas/EmptyString' }
        reportName: { type: string }
